.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-box {
  width: 30%;
  height: 100vh;
}
.price {
  width: 365px;
  height: 65px;
  background: #27ae60;
  border-radius: 5px 5px 0px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}
.container-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 365px;
  min-height: 158px;
  background: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  border: 2px solid #e0e0e0;
}

.container-box {
  margin: 0 auto;
  margin-top: 35px;
}
.container-box {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #828282;
}
.box-new-products {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  margin: 5px 10px;
  width: 100%;
  display: flex;
}
h3 {
  padding: 35px 10px;
}
.img {
  background: #f5f5f5;
}

.box-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.button-total {
  width: 343px;
  height: 60px;
  background: #e0e0e0;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  color: #828282;
  margin: 5px;
}
.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.total-value {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.total-price {
  color: #828282;
}
