.App {
  text-align: center;
  width: 100vw;
}

.App-header {
  background: #f5f5f5;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 450px) {
  .box-products {
    width: 28%;
    min-height: 43vh;
  }
}
